<footer>
  <p><a href="#"><img src="/assets/yarred-social-logo.jpg" style="width:170px;padding: 2px;border: solid 1px #ff2424;" /></a></p>
      <br/>
  <p>Follow me on Mastodon: <a rel="me" href="https://intuitivefuture.com/@yarredmusic" target="_blank">@yarredmusic</a></p>
  <p>Contact me: <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a></p>
</footer>
