<header class="row">
  <div class="column">
    <h1 style="margin-bottom:0"><a href="/"><img src="/assets/yarred-logo-2017.png" alt="{{ metadata.title }}" style="width: 460.5px" /></a></h1>

    <nav><ul>
      <li><a href="/music">Music</a></li>
      <li><a href="/collaborations">Collaborations</a></li>
      <li><a href="/free">Free Stuff</a></li>
      <li><a href="/biography">Biography</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul></nav>

    <p class="social-links borderless-links">Yarred produces {{ metadata.tagline }}.</p>

    <p style="margin-top: 4em"><img src="/assets/synth-icon.png" style="width:196px" alt="synthesizer icon" /></p>
  </div>
</header>
